.App {
  text-align: center;
}

.project-tile{
  padding: 10px;
}

.form-group, .row {
  padding: 10px;
}

.button-group {
  text-align: left;
}

.btn {
  margin: 5px;
}

.img_logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

@media (max-width: 1169px) {
  .img_logo {
    width: 40px;
    height: 40px;
    border-radius: 50%;
  }
}